.Stories-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.stories-right{
    position: relative;
    left: 5%;
}
.stories-left{
    position: relative;
    right: 5%;
}
.all-stories {
    height: 50px;
    width: 260px;
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border:  #1A7431 ;
   background-color:  #1A7431;
   font-family: 'Montserrat';

}
.first-image{
    border: none;
}
.first-image-story{
    font-size: 15px;
    color: #1A7431;
    position: relative;
    left: 30%;
    top: 40%;
    background-color: yellow;
}