.protecting-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.button-event{
    grid-column: span 3;
}
.protecting-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #DEFEE661;
    border: 1px solid #307A4D;
    border-radius: 5px;
    padding: 1em;

}
.protecting-learn{
    width: 80%;
    padding: .75em 1.5em ;
    border-radius: 2.5em;
}