.story-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80vh;
   
}
.story-left{
    width: 25%;
}
.story-right{
    width: 50%;
}
.view-story{
    color: #1A7431;
    font-size: 24px;
    text-decoration: underline;
}
.ull-story{
    color: #1A7431;
    font-size: 24px;
    
}.img-before{
    height: 40vh;
    width: 240%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    background-image: url("../../assest/images/before.png");
    background-repeat: no-repeat;
    
}
.img-after{
    height: 33vh;
    width: 240%;
    border-radius: 8px;
    object-fit: cover;
    background-image: url("../../assest/images/after.png");
    background-repeat: no-repeat;
}
.text-story{
    font-size: 25px;
    color: #00380E;
    font-family: 'Mukta Vaani';
}
.story-res{
    font-size: 40px;
    font-weight: 600;
    color: #1A7431;
    text-decoration: underline;
    font-family: 'Mukta Vaani';
}
.story-cue{
    font-size: 40px;
    font-weight: 600;
    color: #1A7431;
    font-family: 'Mukta Vaani';

}
.story-tittle{
    margin-right: 10%;
}
.story-main-tittle{
    margin-top: 5%;
    position: relative;
    left: 5%;
    width: 100%;
}
.story-stories{
    font-size: 40px;
    font-weight: 100;
    color: #1A7431;
    font-family: 'Mukta Vaani';
}
.story-stories:hover{
    text-decoration: underline;
    cursor: pointer;
}
.abondoned{
    font-size: 40px;
    font-weight: 600;
    color: #1A7431;
   font-family: 'Mukta Vaani';

}
.story-before{
    font-size: 40px;
    font-weight: 700;
    color: white;
   font-family: 'Mukta Vaani';
    position: relative;
    left: 48%;
    top: 60%;
}
.story-after{
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: 'Mukta Vaani';
    position: relative;
    left: 50%;
    top: 60%;
}